In [ ]:
#Male players outnumber female and other/non-disclosed by almost 5 to 1. However, males typically spend less per purchase. 
#Across age demographics, spending is pretty evenly spread out from an average revenue perspective.  Percentages of purchases and of revenue per age group are almost equal.  
#Average purchase price per customer and per sale are higher for the very low ages and the upper ages.  However, the bulk of the spending in terms of total revenue and purchases is being done by the middle bracket that tends to spend less per sale.  
#A very interesting point to notice is that repeat nuyers accounted for 47%, or almost half of all total revenue.  Repeat customers are the bread and butter!  
#The top 5 spenders roughly account for 1% of the players while accounting for roughly 4% of revenue. Top spender's screenname is "Lisosia93". 
#The top 5 selling items roughly make up 2.7% of the total number, yet make up for 8.3% of total sales. Top selling item is "Oathbreker, Last Hope of the Breaking Storm."

### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [28]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [29]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [30]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [31]:
#total purchases by ID
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [32]:
total_purchases = len(purchase_data)
total_purchases

780

In [33]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [34]:
average_per_purchase = total_revenue / total_purchases
average_per_purchase

3.0509871794871795

In [35]:
#total purchases by SN --> set of unique screennames in data count
unique_sn_set = set(purchase_data['SN'])
total_customers = len(unique_sn_set)
print(total_customers)

576

In [36]:
unique_sn_array = purchase_data['SN'].unique()
sn_array = pd.Series(purchase_data['SN']).values

In [37]:
unique_sn_series = pd.Series(unique_sn_array)
sn_series = purchase_data['SN']

In [38]:
pd.concat([sn_series, unique_sn_series]).drop_duplicates(keep=False)

Series([], dtype: object)

In [39]:
sn_df = pd.DataFrame(sn_series)
sn_unique_df = pd.DataFrame(unique_sn_series)
sn_unique_df= sn_unique_df.rename(columns={0 : "SN"})
sn_unique_idx = pd.Index(unique_sn_array)
sn_idx = pd.Index(sn_array)

In [40]:
sn_unique_idx.difference(sn_idx)

Index([], dtype='object')

In [41]:
pd.merge(sn_df, sn_unique_df, how='right')

                 SN
0           Lisim78
1           Lisim78
2           Lisim78
3       Lisovynya38
4        Ithergue48
5     Chamassasya86
6         Iskosia90
7           Yalae81
8           Yalae81
9         Itheria73
10      Iskjaskst81
11      Iskjaskst81
12        Undjask33
13      Chanosian48
14      Chanosian48
15        Inguron55
16        Inguron55
17        Inguron55
18     Haisrisuir60
19     Haisrisuir60
20     Saelaephos52
21     Saelaephos52
22      Assjaskan73
23      Saesrideu94
24      Saesrideu94
25        Lisassa64
26        Lisirra25
27        Zontibe81
28        Zontibe81
29        Zontibe81
..              ...
750    Chanosiaya39
751       Assylla81
752       Aidaira26
753        Eudanu84
754      Chamiman85
755     Tyialisti80
756       Marundi65
757         Eusur90
758   Mindirranya33
759    Phiallylis33
760          Isty55
761     Frichilsa31
762      Chanista95
763      Aellyria80
764   Rastynusuir31
765        Iljask75
766     Lisjaskan36
767   Mindjasksya61
768  Frichirranya75
769         Ilast79
770       Eratiel90
771         Assim27
772         Irith83
773       Ilosian36
774    Iskossasda43
775          Hala31
776      Jiskjask80
777      Aethedru70
778      Yathecal72
779         Sisur91

[780 rows x 1 columns]

In [42]:
total_buys = purchase_data['Purchase ID'].size

In [43]:
purchases_gby_sn = purchase_data.groupby(['SN'])
purchases_gby_sn_price = purchase_data.groupby(['SN', 'Price'])
purchases_gby_sn.head()
purchases_gby_sn.describe()

                  Age                                          Item ID  \
                count  mean  std   min   25%   50%   75%   max   count
SN
Adairialis76      1.0  16.0  NaN  16.0  16.0  16.0  16.0  16.0     1.0
Adastirin33       1.0  35.0  NaN  35.0  35.0  35.0  35.0  35.0     1.0
Aeda94            1.0  17.0  NaN  17.0  17.0  17.0  17.0  17.0     1.0
Aela59            1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0     1.0
Aelaria33         1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0     1.0
Aelastirin39      2.0  23.0  0.0  23.0  23.0  23.0  23.0  23.0     2.0
Aelidru27         1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0     1.0
Aelin32           3.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0     3.0
Aelly27           2.0  24.0  0.0  24.0  24.0  24.0  24.0  24.0     2.0
Aellynun67        1.0  25.0  NaN  25.0  25.0  25.0  25.0  25.0     1.0
Aellyria80        1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0     1.0
Aelollo59         2.0  33.0  0.0  33.0  33.0  33.0  33.0  33.0     2.0
Aenarap34         1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0     1.0
Aeral43           1.0  24.0  NaN  24.0  24.0  24.0  24.0  24.0     1.0
Aeral68           1.0  43.0  NaN  43.0  43.0  43.0  43.0  43.0     1.0
Aeral97           1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0     1.0
Aeralria27        1.0  10.0  NaN  10.0  10.0  10.0  10.0  10.0     1.0
Aeralstical35     1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Aeri84            1.0  24.0  NaN  24.0  24.0  24.0  24.0  24.0     1.0
Aerillorin70      1.0  16.0  NaN  16.0  16.0  16.0  16.0  16.0     1.0
Aerithllora36     2.0  29.0  0.0  29.0  29.0  29.0  29.0  29.0     2.0
Aerithnucal56     1.0  15.0  NaN  15.0  15.0  15.0  15.0  15.0     1.0
Aerithnuphos61    1.0  39.0  NaN  39.0  39.0  39.0  39.0  39.0     1.0
Aerithriaphos45   1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Aerithriaphos46   1.0  16.0  NaN  16.0  16.0  16.0  16.0  16.0     1.0
Aesri53           1.0  31.0  NaN  31.0  31.0  31.0  31.0  31.0     1.0
Aesty53           2.0  21.0  0.0  21.0  21.0  21.0  21.0  21.0     2.0
Aestysu37         2.0  25.0  0.0  25.0  25.0  25.0  25.0  25.0     2.0
Aesur96           1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0     1.0
Aesurstilis64     1.0  25.0  NaN  25.0  25.0  25.0  25.0  25.0     1.0
...               ...   ...  ...   ...   ...   ...   ...   ...     ...
Undosia27         1.0  17.0  NaN  17.0  17.0  17.0  17.0  17.0     1.0
Undosian34        2.0  21.0  0.0  21.0  21.0  21.0  21.0  21.0     2.0
Undotesta33       1.0  18.0  NaN  18.0  18.0  18.0  18.0  18.0     1.0
Wailin72          1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0     1.0
Yadacal26         2.0  15.0  0.0  15.0  15.0  15.0  15.0  15.0     2.0
Yadaisuir65       1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Yadam35           1.0  28.0  NaN  28.0  28.0  28.0  28.0  28.0     1.0
Yadanu52          1.0  34.0  NaN  34.0  34.0  34.0  34.0  34.0     1.0
Yadaphos40        2.0  30.0  0.0  30.0  30.0  30.0  30.0  30.0     2.0
Yalae81           2.0  22.0  0.0  22.0  22.0  22.0  22.0  22.0     2.0
Yalaeria91        1.0  33.0  NaN  33.0  33.0  33.0  33.0  33.0     1.0
Yaliru88          1.0  19.0  NaN  19.0  19.0  19.0  19.0  19.0     1.0
Yalo85            1.0  34.0  NaN  34.0  34.0  34.0  34.0  34.0     1.0
Yalostiphos68     1.0  29.0  NaN  29.0  29.0  29.0  29.0  29.0     1.0
Yana46            1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Yarithllodeu72    1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0     1.0
Yarithrgue83      1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Yarithrin84       1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0     1.0
Yarithsurgue62    1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0     1.0
Yarolwen77        1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0     1.0
Yasrisu92         1.0  27.0  NaN  27.0  27.0  27.0  27.0  27.0     1.0
Yastyriaphos75    1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0     1.0
Yasur35           1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0     1.0
Yasur85           1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0     1.0
Yathecal72        1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0     1.0
Yathecal82        3.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0     3.0
Yathedeu43        2.0  22.0  0.0  22.0  22.0  22.0  22.0  22.0     2.0
Yoishirrala98     1.0  17.0  NaN  17.0  17.0  17.0  17.0  17.0     1.0
Zhisrisu83        2.0  10.0  0.0  10.0  10.0  10.0  10.0  10.0     2.0
Zontibe81         3.0  21.0  0.0  21.0  21.0  21.0  21.0  21.0     3.0

                             ...     Price       Purchase ID              \
                       mean  ...       75%   max       count        mean
SN                           ...
Adairialis76     123.000000  ...    2.2800  2.28         1.0  467.000000
Adastirin33      175.000000  ...    4.4800  4.48         1.0  142.000000
Aeda94           128.000000  ...    4.9100  4.91         1.0  388.000000
Aela59           119.000000  ...    4.3200  4.32         1.0   28.000000
Aelaria33        171.000000  ...    1.7900  1.79         1.0  630.000000
Aelastirin39      67.000000  ...    3.8925  4.14         2.0  492.000000
Aelidru27        183.000000  ...    1.0900  1.09         1.0  705.000000
Aelin32          108.666667  ...    3.4700  3.54         3.0  241.000000
Aelly27           65.000000  ...    3.7875  4.18         2.0  235.500000
Aellynun67       153.000000  ...    3.7400  3.74         1.0  286.000000
Aellyria80       159.000000  ...    3.0800  3.08         1.0  746.000000
Aelollo59         87.500000  ...    2.9775  3.14         2.0  317.000000
Aenarap34         15.000000  ...    2.9600  2.96         1.0  183.000000
Aeral43           78.000000  ...    4.4000  4.40         1.0  263.000000
Aeral68           77.000000  ...    4.0000  4.00         1.0  674.000000
Aeral97          157.000000  ...    4.8000  4.80         1.0  167.000000
Aeralria27       133.000000  ...    4.0900  4.09         1.0   32.000000
Aeralstical35     49.000000  ...    2.9600  2.96         1.0  583.000000
Aeri84            71.000000  ...    1.6100  1.61         1.0  303.000000
Aerillorin70      83.000000  ...    3.3300  3.33         1.0  381.000000
Aerithllora36    117.500000  ...    4.6100  4.90         2.0  426.000000
Aerithnucal56    154.000000  ...    4.4000  4.40         1.0  324.000000
Aerithnuphos61   128.000000  ...    4.9100  4.91         1.0  517.000000
Aerithriaphos45  143.000000  ...    1.5600  1.56         1.0   40.000000
Aerithriaphos46  107.000000  ...    2.1800  2.18         1.0  236.000000
Aesri53          161.000000  ...    1.7600  1.76         1.0  541.000000
Aesty53           89.000000  ...    2.4025  2.85         2.0  188.500000
Aestysu37         91.500000  ...    3.3300  3.97         2.0  362.500000
Aesur96           30.000000  ...    2.2100  2.21         1.0  468.000000
Aesurstilis64     70.000000  ...    1.0300  1.03         1.0  405.000000
...                     ...  ...       ...   ...         ...         ...
Undosia27         72.000000  ...    3.7700  3.77         1.0  229.000000
Undosian34        84.500000  ...    4.4550  4.76         2.0  355.000000
Undotesta33       95.000000  ...    4.7400  4.74         1.0  704.000000
Wailin72           9.000000  ...    2.7300  2.73         1.0  283.000000
Yadacal26         34.500000  ...    4.0550  4.84         2.0  417.000000
Yadaisuir65      133.000000  ...    4.0900  4.09         1.0  625.000000
Yadam35            2.000000  ...    2.4800  2.48         1.0  553.000000
Yadanu52          44.000000  ...    2.3800  2.38         1.0   60.000000
Yadaphos40       102.000000  ...    3.4525  4.23         2.0  241.500000
Yalae81          100.500000  ...    3.4775  3.61         2.0  226.000000
Yalaeria91        28.000000  ...    1.0600  1.06         1.0  681.000000
Yaliru88         105.000000  ...    3.0300  3.03         1.0   59.000000
Yalo85            11.000000  ...    3.6500  3.65         1.0  383.000000
Yalostiphos68    160.000000  ...    4.4000  4.40         1.0  518.000000
Yana46            16.000000  ...    3.5500  3.55         1.0  280.000000
Yarithllodeu72    88.000000  ...    3.7500  3.75         1.0  364.000000
Yarithrgue83     163.000000  ...    3.4500  3.45         1.0  279.000000
Yarithrin84       58.000000  ...    4.1400  4.14         1.0  698.000000
Yarithsurgue62   139.000000  ...    4.9400  4.94         1.0  231.000000
Yarolwen77        87.000000  ...    4.4300  4.43         1.0  696.000000
Yasrisu92        102.000000  ...    3.4400  3.44         1.0   46.000000
Yastyriaphos75    41.000000  ...    4.7500  4.75         1.0  340.000000
Yasur35          175.000000  ...    4.4800  4.48         1.0  257.000000
Yasur85           21.000000  ...    1.1000  1.10         1.0  514.000000
Yathecal72        67.000000  ...    3.4600  3.46         1.0  777.000000
Yathecal82        80.333333  ...    2.1750  2.42         3.0  466.666667
Yathedeu43        71.500000  ...    3.3800  3.75         2.0  344.000000
Yoishirrala98    145.000000  ...    4.5800  4.58         1.0  572.000000
Zhisrisu83        42.500000  ...    4.1475  4.35         2.0   97.500000
Zontibe81         82.333333  ...    3.1350  3.79         3.0  339.666667


                        std    min     25%    50%     75%    max
SN
Adairialis76            NaN  467.0  467.00  467.0  467.00  467.0
Adastirin33             NaN  142.0  142.00  142.0  142.00  142.0
Aeda94                  NaN  388.0  388.00  388.0  388.00  388.0
Aela59                  NaN   28.0   28.00   28.0   28.00   28.0
Aelaria33               NaN  630.0  630.00  630.0  630.00  630.0
Aelastirin39     387.494516  218.0  355.00  492.0  629.00  766.0
Aelidru27               NaN  705.0  705.00  705.0  705.00  705.0
Aelin32          297.561758   52.0   69.50   87.0  335.50  584.0
Aelly27          272.236111   43.0  139.25  235.5  331.75  428.0
Aellynun67              NaN  286.0  286.00  286.0  286.00  286.0
Aellyria80              NaN  746.0  746.00  746.0  746.00  746.0
Aelollo59        161.220346  203.0  260.00  317.0  374.00  431.0
Aenarap34               NaN  183.0  183.00  183.0  183.00  183.0
Aeral43                 NaN  263.0  263.00  263.0  263.00  263.0
Aeral68                 NaN  674.0  674.00  674.0  674.00  674.0
Aeral97                 NaN  167.0  167.00  167.0  167.00  167.0
Aeralria27              NaN   32.0   32.00   32.0   32.00   32.0
Aeralstical35           NaN  583.0  583.00  583.0  583.00  583.0
Aeri84                  NaN  303.0  303.00  303.0  303.00  303.0
Aerillorin70            NaN  381.0  381.00  381.0  381.00  381.0
Aerithllora36    214.960461  274.0  350.00  426.0  502.00  578.0
Aerithnucal56           NaN  324.0  324.00  324.0  324.00  324.0
Aerithnuphos61          NaN  517.0  517.00  517.0  517.00  517.0
Aerithriaphos45         NaN   40.0   40.00   40.0   40.00   40.0
Aerithriaphos46         NaN  236.0  236.00  236.0  236.00  236.0
Aesri53                 NaN  541.0  541.00  541.0  541.00  541.0
Aesty53           91.216775  124.0  156.25  188.5  220.75  253.0
Aestysu37         75.660426  309.0  335.75  362.5  389.25  416.0
Aesur96                 NaN  468.0  468.00  468.0  468.00  468.0
Aesurstilis64           NaN  405.0  405.00  405.0  405.00  405.0
...                     ...    ...     ...    ...     ...    ...
Undosia27               NaN  229.0  229.00  229.0  229.00  229.0
Undosian34       374.766594   90.0  222.50  355.0  487.50  620.0
Undotesta33             NaN  704.0  704.00  704.0  704.00  704.0
Wailin72                NaN  283.0  283.00  283.0  283.00  283.0
Yadacal26        113.137085  337.0  377.00  417.0  457.00  497.0
Yadaisuir65             NaN  625.0  625.00  625.0  625.00  625.0
Yadam35                 NaN  553.0  553.00  553.0  553.00  553.0
Yadanu52                NaN   60.0   60.00   60.0   60.00   60.0
Yadaphos40       253.851334   62.0  151.75  241.5  331.25  421.0
Yalae81          312.541197    5.0  115.50  226.0  336.50  447.0
Yalaeria91              NaN  681.0  681.00  681.0  681.00  681.0
Yaliru88                NaN   59.0   59.00   59.0   59.00   59.0
Yalo85                  NaN  383.0  383.00  383.0  383.00  383.0
Yalostiphos68           NaN  518.0  518.00  518.0  518.00  518.0
Yana46                  NaN  280.0  280.00  280.0  280.00  280.0
Yarithllodeu72          NaN  364.0  364.00  364.0  364.00  364.0
Yarithrgue83            NaN  279.0  279.00  279.0  279.00  279.0
Yarithrin84             NaN  698.0  698.00  698.0  698.00  698.0
Yarithsurgue62          NaN  231.0  231.00  231.0  231.00  231.0
Yarolwen77              NaN  696.0  696.00  696.0  696.00  696.0
Yasrisu92               NaN   46.0   46.00   46.0   46.00   46.0
Yastyriaphos75          NaN  340.0  340.00  340.0  340.00  340.0
Yasur35                 NaN  257.0  257.00  257.0  257.00  257.0
Yasur85                 NaN  514.0  514.00  514.0  514.00  514.0
Yathecal72              NaN  777.0  777.00  777.0  777.00  777.0
Yathecal82       309.131579  125.0  336.50  548.0  637.50  727.0
Yathedeu43       354.967604   93.0  218.50  344.0  469.50  595.0
Yoishirrala98           NaN  572.0  572.00  572.0  572.00  572.0
Zhisrisu83        61.518290   54.0   75.75   97.5  119.25  141.0
Zontibe81        285.598203   17.0  229.50  442.0  501.00  560.0

[576 rows x 32 columns]

In [44]:
purchases_gby_sn_price.size()

SN               Price
Adairialis76     2.28     1
Adastirin33      4.48     1
Aeda94           4.91     1
Aela59           4.32     1
Aelaria33        1.79     1
Aelastirin39     3.15     1
                 4.14     1
Aelidru27        1.09     1
Aelin32          2.04     1
                 3.40     1
                 3.54     1
Aelly27          2.61     1
                 4.18     1
Aellynun67       3.74     1
Aellyria80       3.08     1
Aelollo59        2.49     1
                 3.14     1
Aenarap34        2.96     1
Aeral43          4.40     1
Aeral68          4.00     1
Aeral97          4.80     1
Aeralria27       4.09     1
Aeralstical35    2.96     1
Aeri84           1.61     1
Aerillorin70     3.33     1
Aerithllora36    3.74     1
                 4.90     1
Aerithnucal56    4.40     1
Aerithnuphos61   4.91     1
Aerithriaphos45  1.56     1
                         ..
Yadaphos40       1.12     1
                 4.23     1
Yalae81          3.08     1
                 3.61     1
Yalaeria91       1.06     1
Yaliru88         3.03     1
Yalo85           3.65     1
Yalostiphos68    4.40     1
Yana46           3.55     1
Yarithllodeu72   3.75     1
Yarithrgue83     3.45     1
Yarithrin84      4.14     1
Yarithsurgue62   4.94     1
Yarolwen77       4.43     1
Yasrisu92        3.44     1
Yastyriaphos75   4.75     1
Yasur35          4.48     1
Yasur85          1.10     1
Yathecal72       3.46     1
Yathecal82       1.87     1
                 1.93     1
                 2.42     1
Yathedeu43       2.27     1
                 3.75     1
Yoishirrala98    4.58     1
Zhisrisu83       3.54     1
                 4.35     1
Zontibe81        1.76     1
                 2.48     1
                 3.79     1
Length: 779, dtype: int64

In [45]:
cust_price_df = pd.DataFrame(purchases_gby_sn_price.size())
cust_price_df = cust_price_df.rename(columns={0 : "Purchases"})
cust_price_df

                       Purchases
SN              Price
Adairialis76    2.28           1
Adastirin33     4.48           1
Aeda94          4.91           1
Aela59          4.32           1
Aelaria33       1.79           1
Aelastirin39    3.15           1
                4.14           1
Aelidru27       1.09           1
Aelin32         2.04           1
                3.40           1
                3.54           1
Aelly27         2.61           1
                4.18           1
Aellynun67      3.74           1
Aellyria80      3.08           1
Aelollo59       2.49           1
                3.14           1
Aenarap34       2.96           1
Aeral43         4.40           1
Aeral68         4.00           1
Aeral97         4.80           1
Aeralria27      4.09           1
Aeralstical35   2.96           1
Aeri84          1.61           1
Aerillorin70    3.33           1
Aerithllora36   3.74           1
                4.90           1
Aerithnucal56   4.40           1
Aerithnuphos61  4.91           1
Aerithriaphos45 1.56           1
...                          ...
Yadaphos40      1.12           1
                4.23           1
Yalae81         3.08           1
                3.61           1
Yalaeria91      1.06           1
Yaliru88        3.03           1
Yalo85          3.65           1
Yalostiphos68   4.40           1
Yana46          3.55           1
Yarithllodeu72  3.75           1
Yarithrgue83    3.45           1
Yarithrin84     4.14           1
Yarithsurgue62  4.94           1
Yarolwen77      4.43           1
Yasrisu92       3.44           1
Yastyriaphos75  4.75           1
Yasur35         4.48           1
Yasur85         1.10           1
Yathecal72      3.46           1
Yathecal82      1.87           1
                1.93           1
                2.42           1
Yathedeu43      2.27           1
                3.75           1
Yoishirrala98   4.58           1
Zhisrisu83      3.54           1
                4.35           1
Zontibe81       1.76           1
                2.48           1
                3.79           1

[779 rows x 1 columns]

In [46]:
multiple_purchase_price = cust_price_df.loc[cust_price_df['Purchases'] > 1, :]
multiple_purchase_price

              Purchases
SN     Price
Hada39 2.48           2

In [47]:
purchase_per_customer = purchases_gby_sn.size()
per_customer_df = pd.DataFrame(purchase_per_customer)
per_customer_df = per_customer_df.rename(columns={0 : "Purchases"})
per_customer_df.head()

              Purchases
SN
Adairialis76          1
Adastirin33           1
Aeda94                1
Aela59                1
Aelaria33             1

In [48]:
multiple_purchase_sn = per_customer_df.loc[per_customer_df['Purchases'] > 1, :]
multiple_purchase_sn

                Purchases
SN
Aelastirin39            2
Aelin32                 3
Aelly27                 2
Aelollo59               2
Aerithllora36           2
Aesty53                 2
Aestysu37               2
Aidaillodeu39           2
Aiduecal76              2
Aina42                  3
Aisurdru79              2
Aithelis62              2
Ali84                   2
Anallorgue57            2
Ardcil81                2
Arin32                  2
Assassasta79            2
Assistasda42            2
Asur53                  3
Baelollodeu94           2
Bartassaya73            2
Caesrinusuir82          2
Chadadarla74            2
Chadilsasta32           2
Chadista79              2
Chadolyla44             3
Chamilsala65            2
Chamimla85              3
Chamirra53              2
Chamirrasya33           2
...                   ...
Siarithria38            2
Sida61                  2
Silaera56               3
Siralsudeu54            2
Smaistysu35             2
Sondadar26              2
Sondastsda82            3
Sondim68                2
Strithenu87             3
Sundadar27              2
Sundirrala66            2
Syally44                2
Tyaelorap29             2
Tyeosri53               2
Tyialisudeu65           2
Tyida79                 2
Tyidaim51               3
Tyisur83                3
Umolrian85              3
Undare39                2
Undirrala66             2
Undjaskla97             2
Undosian34              2
Yadacal26               2
Yadaphos40              2
Yalae81                 2
Yathecal82              3
Yathedeu43              2
Zhisrisu83              2
Zontibe81               3

[162 rows x 1 columns]

In [49]:
purchases_gby_sn['SN'].value_counts()

SN               SN
Adairialis76     Adairialis76       1
Adastirin33      Adastirin33        1
Aeda94           Aeda94             1
Aela59           Aela59             1
Aelaria33        Aelaria33          1
Aelastirin39     Aelastirin39       2
Aelidru27        Aelidru27          1
Aelin32          Aelin32            3
Aelly27          Aelly27            2
Aellynun67       Aellynun67         1
Aellyria80       Aellyria80         1
Aelollo59        Aelollo59          2
Aenarap34        Aenarap34          1
Aeral43          Aeral43            1
Aeral68          Aeral68            1
Aeral97          Aeral97            1
Aeralria27       Aeralria27         1
Aeralstical35    Aeralstical35      1
Aeri84           Aeri84             1
Aerillorin70     Aerillorin70       1
Aerithllora36    Aerithllora36      2
Aerithnucal56    Aerithnucal56      1
Aerithnuphos61   Aerithnuphos61     1
Aerithriaphos45  Aerithriaphos45    1
Aerithriaphos46  Aerithriaphos46    1
Aesri53          Aesri53            1
Aesty53          Aesty53            2
Aestysu37        Aestysu37          2
Aesur96          Aesur96            1
Aesurstilis64    Aesurstilis64      1
                                   ..
Undosia27        Undosia27          1
Undosian34       Undosian34         2
Undotesta33      Undotesta33        1
Wailin72         Wailin72           1
Yadacal26        Yadacal26          2
Yadaisuir65      Yadaisuir65        1
Yadam35          Yadam35            1
Yadanu52         Yadanu52           1
Yadaphos40       Yadaphos40         2
Yalae81          Yalae81            2
Yalaeria91       Yalaeria91         1
Yaliru88         Yaliru88           1
Yalo85           Yalo85             1
Yalostiphos68    Yalostiphos68      1
Yana46           Yana46             1
Yarithllodeu72   Yarithllodeu72     1
Yarithrgue83     Yarithrgue83       1
Yarithrin84      Yarithrin84        1
Yarithsurgue62   Yarithsurgue62     1
Yarolwen77       Yarolwen77         1
Yasrisu92        Yasrisu92          1
Yastyriaphos75   Yastyriaphos75     1
Yasur35          Yasur35            1
Yasur85          Yasur85            1
Yathecal72       Yathecal72         1
Yathecal82       Yathecal82         3
Yathedeu43       Yathedeu43         2
Yoishirrala98    Yoishirrala98      1
Zhisrisu83       Zhisrisu83         2
Zontibe81        Zontibe81          3
Name: SN, Length: 576, dtype: int64

In [50]:
purchases_gby_sn['Purchase ID'].value_counts()

SN               Purchase ID
Adairialis76     467            1
Adastirin33      142            1
Aeda94           388            1
Aela59           28             1
Aelaria33        630            1
Aelastirin39     218            1
                 766            1
Aelidru27        705            1
Aelin32          52             1
                 87             1
                 584            1
Aelly27          43             1
                 428            1
Aellynun67       286            1
Aellyria80       746            1
Aelollo59        203            1
                 431            1
Aenarap34        183            1
Aeral43          263            1
Aeral68          674            1
Aeral97          167            1
Aeralria27       32             1
Aeralstical35    583            1
Aeri84           303            1
Aerillorin70     381            1
Aerithllora36    274            1
                 578            1
Aerithnucal56    324            1
Aerithnuphos61   517            1
Aerithriaphos45  40             1
                               ..
Yadaphos40       62             1
                 421            1
Yalae81          5              1
                 447            1
Yalaeria91       681            1
Yaliru88         59             1
Yalo85           383            1
Yalostiphos68    518            1
Yana46           280            1
Yarithllodeu72   364            1
Yarithrgue83     279            1
Yarithrin84      698            1
Yarithsurgue62   231            1
Yarolwen77       696            1
Yasrisu92        46             1
Yastyriaphos75   340            1
Yasur35          257            1
Yasur85          514            1
Yathecal72       777            1
Yathecal82       125            1
                 548            1
                 727            1
Yathedeu43       93             1
                 595            1
Yoishirrala98    572            1
Zhisrisu83       54             1
                 141            1
Zontibe81        17             1
                 442            1
                 560            1
Name: Purchase ID, Length: 780, dtype: int64

In [51]:
mult_purch_df = pd.DataFrame(purchases_gby_sn['Purchase ID'].value_counts())
mult_purch_df.head()

                          Purchase ID
SN           Purchase ID
Adairialis76 467                    1
Adastirin33  142                    1
Aeda94       388                    1
Aela59       28                     1
Aelaria33    630                    1

In [52]:
unique_item_set = set(purchase_data['Item ID'])
total_items = len(unique_item_set)
total_items

183

In [53]:
unique_item_name_set = set(purchase_data['Item Name'])
unique_item_name_set

{'Abyssal Shard',
 'Aetherius, Boon of the Blessed',
 'Agatha',
 'Alpha',
 'Alpha, Oath of Zeal',
 'Alpha, Reach of Ending Hope',
 'Amnesia',
 'Apocalyptic Battlescythe',
 'Arcane Gem',
 'Avenger',
 'Azurewrath',
 'Betrayal, Whisper of Grieving Widows',
 'Betrayer',
 'Blade of the Grave',
 'Blazefury, Protector of Delusions',
 'Blazeguard, Reach of Eternity',
 'Blindscythe',
 'Blood Infused Guardian',
 'Blood-Forged Skeletal Spine',
 "Bloodlord's Fetish",
 'Bone Crushing Silver Skewer',
 'Bonecarvin Battle Axe',
 'Brimstone',
 'Brutality Ivory Warmace',
 'Celeste',
 'Celeste, Incarnation of the Corrupted',
 'Chaos, Ender of the End',
 'Conqueror Adamantite Mace',
 'Crucifer',
 'Crying Steel Sickle',
 'Curved Axe',
 'Darkheart',
 'Darkheart, Butcher of the Champion',
 'Dawn',
 'Dawne',
 'Deadline, Voice Of Subtlety',
 'Deathraze',
 'Deluge, Edge of the West',
 'Demise',
 'Despair, Favor of Due Diligence',
 'Devine',
 'Downfall, Scalpel Of The Emperor',
 "Dragon's Greatsword",
 'Dreamkiss',
 'Dreamsong',
 'Emberling, Defender of Delusions',
 'Endbringer',
 'Eternal Cleaver',
 'Exiled Doomblade',
 'Exiled Mithril Longsword',
 'Expiration, Warscythe Of Lost Worlds',
 'Extraction, Quickblade Of Trembling Hands',
 "Faith's Scimitar",
 'Fate, Vengeance of Eternal Justice',
 'Feral Katana',
 'Fiery Glass Crusader',
 'Final Critic',
 'Flux, Destroyer of Due Diligence',
 'Foul Edge',
 'Foul Titanium Battle Axe',
 "Freak's Bite, Favor of Holy Might",
 'Frenzied Scimitar',
 'Frenzy, Defender of the Harvest',
 'Fury',
 'Fusion Pummel',
 'Ghastly Adamantite Protector',
 'Ghost Reaver, Longsword of Magic',
 "Gladiator's Glaive",
 'Glimmer, Ender of the Moon',
 'Glinting Glass Edge',
 'Hailstorm Shadowsteel Scythe',
 'Hatred',
 'Haunted Bronzed Bludgeon',
 'Heartless Bone Dualblade',
 'Heartseeker, Reaver of Souls',
 'Heartstriker, Legacy of the Light',
 'Hellreaver, Heirloom of Inception',
 'Hero Cane',
 "Hope's End",
 'Hopeless Ebon Dualblade',
 'Interrogator, Blood Blade of the Queen',
 'Lazarus, Terror of the Earth',
 'Lifebender',
 'Lightning, Etcher of the King',
 'Malice, Legacy of the Queen',
 'Malificent Bag',
 'Massacre',
 'Mercenary Sabre',
 'Mercy, Katana of Dismay',
 "Misery's End",
 'Mourning Blade',
 'Netherbane',
 'Nirvana',
 'Oathbreaker, Last Hope of the Breaking Storm',
 'Oathbreaker, Spellblade of Trials',
 'Orbit',
 'Orenmir',
 'Peacekeeper, Wit of Dark Magic',
 'Persuasion',
 'Phantomlight',
 'Piece Maker',
 'Piety, Guardian of Riddles',
 'Possessed Core',
 'Primitive Blade',
 'Purgatory, Gem of Regret',
 'Pursuit, Cudgel of Necromancy',
 'Putrid Fan',
 'Rage, Legacy of the Lone Victor',
 'Ragnarok',
 "Reaper's Toll",
 'Relentless Iron Skewer',
 'Renewed Skeletal Katana',
 'Restored Bauble',
 'Retribution Axe',
 'Riddle, Tribute of Ended Dreams',
 'Righteous Might',
 'Ritual Mace',
 'Rusty Skull',
 'Scalpel',
 'Second Chance',
 'Serenity',
 'Severance',
 'Shadow Strike, Glory of Ending Hope',
 'Shadowsteel',
 'Singed Onyx Warscythe',
 'Singed Scalpel',
 'Sleepwalker',
 "Solitude's Reaver",
 'Soul Infused Crystal',
 'Soul-Forged Steel Shortsword',
 'Souleater',
 'Spada, Etcher of Hatred',
 'Spectral Diamond Doomblade',
 'Splinter',
 'Splitter, Foe Of Subtlety',
 'Storm-Weaver, Slayer of Inception',
 'Stormbringer, Dark Blade of Ending Misery',
 'Stormcaller',
 'Stormfury Lantern',
 'Stormfury Longsword',
 'Stormfury Mace',
 'Striker',
 'Sun Strike, Jaws of Twisted Visions',
 'Suspension',
 'Swan Song, Gouger Of Terror',
 'The Decapitator',
 'The Oculus, Token of Lost Worlds',
 'The Void, Vengeance of Dark Magic',
 'Thirsty Iron Reaver',
 'Thorn, Conqueror of the Corrupted',
 'Thorn, Satchel of Dark Souls',
 'Thunderfury Scimitar',
 'Toothpick',
 'Torchlight, Bond of Storms',
 'Tranquility, Razor of Black Magic',
 'Trickster',
 "Twilight's Carver",
 'Undead Crusader',
 'Unending Tyranny',
 'Unholy Wand',
 'Vengeance Cleaver',
 'Venom Claymore',
 'Verdict',
 'Victor Iron Spikes',
 'Vindictive Glass Edge',
 'War-Forged Gold Deflector',
 "Warmonger, Gift of Suffering's End",
 'Warped Diamond Crusader',
 'Warped Fetish',
 'Warped Iron Scimitar',
 'Whistling Mithril Warblade',
 "Winter's Bite",
 'Winterthorn, Defender of Shifting Worlds',
 'Woeful Adamantite Claymore',
 'Wolf',
 'Wolf, Promise of the Moonwalker',
 'Worldbreaker',
 'Yearning Crusher',
 'Yearning Mageblade'}

In [54]:
pricelist_df = purchase_data[['Item ID', 'Item Name', 'Price']]
pricelist_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [55]:
pricelist = pd.DataFrame(np.sort(pricelist_df.values, axis=0), index=pricelist_df.index, columns=pricelist_df.columns).drop_duplicates()
pricelist.head()

  Item ID                       Item Name Price
0       0                   Abyssal Shard     1
2       0                   Abyssal Shard  1.01
4       1                   Abyssal Shard  1.01
5       1  Aetherius, Boon of the Blessed  1.01
7       2  Aetherius, Boon of the Blessed  1.02

In [56]:
pricelist2= pricelist_df.apply(sorted, axis=0).drop_duplicates()
pricelist2.head()

   Item ID                       Item Name  Price
0        0                   Abyssal Shard   1.00
2        0                   Abyssal Shard   1.01
4        1                   Abyssal Shard   1.01
5        1  Aetherius, Boon of the Blessed   1.01
7        2  Aetherius, Boon of the Blessed   1.02

In [57]:
average_price = pricelist['Price'].mean()
average_price

3.0812250000000017

In [58]:
average_per_purchase

3.0509871794871795

In [59]:
purchase_summary_table = pd.DataFrame({"# of Unique Items": [total_items],
                                       "Average Item Price": [average_price],
                                       "Average Per Purchase": [average_per_purchase],
                                       "Total Number of Purchases": [total_purchases],
                                       "Total Number of Customers": [total_customers],
                                       "Total Revenue": [total_revenue]})
purchase_summary_table

,# of Unique Items,Average Item Price,Average Per Purchase,Total Number of Purchases,Total Number of Customers,Total Revenue
0,183,3.081225,3.050987,780,576,2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
purchase_gby_gender = purchase_data.groupby(['Gender'])
purchase_gby_gender.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [61]:
set(purchase_data['Gender'])

{'Female', 'Male', 'Other / Non-Disclosed'}

In [62]:
male_customers = purchase_data.loc[purchase_data['Gender'] == 'Male', :]
male_customers.count()

Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64

In [63]:
total_male_sales = male_customers['Price'].sum()
total_male_sales

1967.64

In [64]:
total_male_purchases = male_customers['Purchase ID'].count()
total_male_purchases

652

In [65]:
#why if there is no 'SN' it returns 7 ?
unique_male_customer_set = set(male_customers["SN"])
total_male_customer = len(unique_male_customer_set)
total_male_customer

484

In [66]:
female_customers = purchase_data.loc[purchase_data['Gender'] == 'Female', :]
female_customers.count()

Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64

In [67]:
total_female_sales = female_customers['Price'].sum()
total_female_sales

361.94

In [68]:
total_female_purchases = female_customers['Purchase ID'].count()
total_female_purchases

113

In [69]:
unique_female_customer_set = set(female_customers['SN'])
total_female_customer = len(unique_female_customer_set)
total_female_customer

81

In [70]:
other_customers = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :]
other_customers.count()

Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64

In [71]:
total_other_sales = other_customers['Price'].sum()
total_other_sales

50.19

In [72]:
total_other_purchases = other_customers['Purchase ID'].count()
total_other_purchases

15

In [73]:
unique_other_customer_set = set(other_customers['SN'])
total_other_customer = len(unique_other_customer_set)
total_other_customer

11

In [74]:
gender_df = pd.DataFrame(purchase_gby_gender['Purchase ID'].value_counts())
gender_df.head()

                    Purchase ID
Gender Purchase ID
Female 15                     1
       18                     1
       38                     1
       41                     1
       55                     1

In [75]:
percentage_male_customer = (total_male_customer / total_customers) * 100
percentage_female_customer = (total_female_customer / total_customers) * 100
percentage_other_customer = (total_other_customer / total_customers) * 100

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
average_female_price = total_female_sales / total_female_purchases
average_male_price = total_male_sales / total_male_purchases
average_other_price = total_other_sales / total_other_purchases
average_female_total = total_female_sales / total_female_customer
average_male_total = total_male_sales / total_male_customer
average_other_total = total_other_sales / total_other_customer
sales_by_female_percent = total_female_sales / percentage_female_customer
sales_by_male_percent = total_male_sales / percentage_male_customer
sales_by_other_percent = total_other_sales / percentage_other_customer

In [77]:
gender_summary_table = pd.DataFrame({"Total Players": [total_female_customer, total_male_customer, total_other_customer],
                                     "Percentage of Players": [percentage_female_customer, percentage_male_customer, percentage_other_customer],
                                     "Total Purchases": [total_female_purchases, total_male_purchases, total_other_purchases],
                                     "Total Sales": [total_female_sales, total_male_sales, total_other_sales],
                                     "Average Purchase Price per Sale": [average_female_price, average_male_price, average_other_price],
                                     "Average Purchase Price per Customer": [average_female_total, average_male_total, average_other_total],
                                     "Sales by Percentage of Players": [sales_by_female_percent, sales_by_male_percent, sales_by_other_percent],
                                     })
gender_summary_table = gender_summary_table.rename(index={0 : "Female", 1 : "Male", 2 : "Other / Non-disclosed"})
gender_summary_table

,Total Players,Percentage of Players,Total Purchases,Total Sales,Average Purchase Price per Sale,Average Purchase Price per Customer,Sales by Percentage of Players
Female,81,14.062500,113,361.94,3.203009,4.468395,25.737956
Male,484,84.027778,652,1967.64,3.017853,4.065372,23.416542
Other / Non-disclosed,11,1.909722,15,50.19,3.346000,4.562727,26.281309


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
purchase_gby_age = purchase_data.groupby(['Age'])
purchase_gby_age.head()

purchase_data.groupby(['Age']).max()

,Purchase ID,SN,Gender,Item ID,Item Name,Price
Age,,,,,,
7,778,Sondossa69,Male,179,"Wolf, Promise of the Moonwalker",4.60
8,767,Tyeurith29,Male,174,Venom Claymore,4.93
9,732,Sondadar26,Male,159,Vengeance Cleaver,4.40
10,679,Zhisrisu83,Male,153,Wolf,4.35
11,774,Sidap51,Male,180,Stormcaller,4.24
12,755,Siana77,Male,143,Wolf,3.54
13,449,Mindadaran26,Male,158,Retribution Axe,3.75
14,493,Raillydeu47,Male,139,"Mercy, Katana of Dismay",4.94
15,769,Yadacal26,Other / Non-Disclosed,183,War-Forged Gold Deflector,4.88
16,771,Tyidaim51,Other / Non-Disclosed,176,Victor Iron Spikes,4.90
17,752,Yoishirrala98,Male,181,Yearning Mageblade,4.91
18,765,Undotesta33,Male,164,Winter's Bite,4.90
19,741,Yaliru88,Male,167,Yearning Crusher,4.91
20,777,Yathecal82,Other / Non-Disclosed,181,Yearning Crusher,4.93
21,776,Zontibe81,Other / Non-Disclosed,182,Yearning Mageblade,4.94
22,750,Yathedeu43,Male,183,"Wolf, Promise of the Moonwalker",4.99
23,766,Undare39,Male,182,Yearning Mageblade,4.99
24,779,Tyida79,Other / Non-Disclosed,181,Yearning Crusher,4.94
25,759,Undassa89,Other / Non-Disclosed,181,Worldbreaker,4.94
26,772,Yasur35,Male,175,Woeful Adamantite Claymore,4.94
27,677,Yasrisu92,Male,146,Warped Iron Scimitar,4.64
28,606,Yadam35,Male,123,Verdict,2.48
29,635,Yalostiphos68,Male,183,Verdict,4.90
30,730,Yarolwen77,Male,178,Woeful Adamantite Claymore,4.93
31,700,Sundadar27,Male,161,Yearning Mageblade,4.89
32,653,Umolrian85,Male,176,Vengeance Cleaver,4.00
33,689,Yalaeria91,Male,172,Venom Claymore,4.23
34,770,Yalo85,Male,124,Venom Claymore,3.65
35,739,Sastydeu50,Other / Non-Disclosed,175,Woeful Adamantite Claymore,4.86
36,753,Tyaerith73,Male,178,Striker,4.23
37,718,Qilanrion65,Male,179,"Wolf, Promise of the Moonwalker",4.90
38,768,Siarithria38,Other / Non-Disclosed,154,Warped Iron Scimitar,4.89
39,745,Tyaelo67,Male,150,Solitude's Reaver,4.91
40,667,Salilis27,Male,151,Victor Iron Spikes,4.40
41,477,Mindossa76,Male,173,Stormfury Longsword,4.93
42,557,Frichaya88,Male,8,"Purgatory, Gem of Regret",3.93
43,674,Aeral68,Male,77,"Piety, Guardian of Riddles",4.00
44,728,Isursuir31,Male,137,Apocalyptic Battlescythe,3.39
45,761,Assim27,Male,17,"Lazarus, Terror of the Earth",1.70

In [79]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
age_slices = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]

In [80]:
purchase_data['Age Slices']= pd.cut(purchase_data['Age'], bins, labels=age_slices)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Slices
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40-45
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,Under 10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40-45
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,Under 10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,Under 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [81]:
age_under_10 = purchase_data.loc[purchase_data["Age Slices"] == "Under 10", :]
age_under_10_purchases = age_under_10['SN'].count()
age_10_14 = purchase_data.loc[purchase_data["Age Slices"] == "10-14", :]
age_10_14_purchases = age_10_14['SN'].count()
age_15_19 = purchase_data.loc[purchase_data["Age Slices"] == "15-19", :]
age_15_19_purchases = age_15_19['SN'].count()
age_20_24 = purchase_data.loc[purchase_data["Age Slices"] == "20-24", :]
age_20_24_purchases = age_20_24['SN'].count()
age_25_29 = purchase_data.loc[purchase_data["Age Slices"] == "25-29", :]
age_25_29_purchases = age_25_29['SN'].count()
age_30_34 = purchase_data.loc[purchase_data["Age Slices"] == "30-34", :]
age_30_34_purchases = age_30_34['SN'].count()
age_35_39 = purchase_data.loc[purchase_data["Age Slices"] == "35-39", :]
age_35_39_purchases = age_35_39['SN'].count()
age_40_45 = purchase_data.loc[purchase_data["Age Slices"] == "40-45", :]
age_40_45_purchases = age_40_45['SN'].count()

age_15_19_purchases

136

In [82]:
age_under_10_unique = set(age_under_10['SN'])
age_under_10_unique_purchases = len(age_under_10_unique)
age_10_14_unique = set(age_10_14['SN'])
age_10_14_unique_purchases = len(age_10_14_unique)
age_15_19_unique = set(age_15_19['SN'])
age_15_19_unique_purchases = len(age_15_19_unique)
age_20_24_unique = set(age_20_24['SN'])
age_20_24_unique_purchases = len(age_20_24_unique)
age_25_29_unique = set(age_25_29['SN'])
age_25_29_unique_purchases = len(age_25_29_unique)
age_30_34_unique = set(age_30_34['SN'])
age_30_34_unique_purchases = len(age_30_34_unique)
age_35_39_unique = set(age_35_39['SN'])
age_35_39_unique_purchases = len(age_35_39_unique)
age_40_45_unique = set(age_40_45['SN'])
age_40_45_unique_purchases = len(age_40_45_unique)

In [83]:
age_df = purchase_data.groupby('Age Slices')
age_df.count()

            Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Slices
Under 10             23   23   23      23       23         23     23
10-14                28   28   28      28       28         28     28
15-19               136  136  136     136      136        136    136
20-24               365  365  365     365      365        365    365
25-29               101  101  101     101      101        101    101
30-34                73   73   73      73       73         73     73
35-39                41   41   41      41       41         41     41
40-45                13   13   13      13       13         13     13

In [127]:
total_under_10_sales = age_under_10['Price'].sum()
total_10_14_sales = age_10_14['Price'].sum()
total_15_19_sales = age_15_19['Price'].sum()
total_20_24_sales = age_20_24['Price'].sum()
total_25_29_sales = age_25_29['Price'].sum()
total_30_34_sales = age_30_34['Price'].sum()
total_35_39_sales = age_35_39['Price'].sum()
total_40_45_sales = age_40_45['Price'].sum()

In [85]:
percentage_under_10_customers = (age_under_10_unique_purchases / total_customers) * 100
percentage_10_14_customers = (age_10_14_unique_purchases / total_customers) * 100
percentage_15_19_customers = (age_15_19_unique_purchases / total_customers) * 100
percentage_20_24_customers = (age_20_24_unique_purchases / total_customers) * 100
percentage_25_29_customers = (age_25_29_unique_purchases / total_customers) * 100
percentage_30_34_customers = (age_30_34_unique_purchases / total_customers) * 100
percentage_35_39_customers = (age_35_39_unique_purchases / total_customers) * 100
percentage_40_45_customers = (age_40_45_unique_purchases / total_customers) * 100

In [122]:
average_under_10_price = total_under_10_sales / age_under_10_purchases
average_10_14_price = total_10_14_sales / age_10_14_purchases
average_15_19_price = total_15_19_sales / age_15_19_purchases
average_20_24_price = total_20_24_sales / age_20_24_purchases
average_25_29_price = total_25_29_sales / age_25_29_purchases
average_30_34_price = total_30_34_sales / age_30_34_purchases
average_35_39_price = total_35_39_sales / age_35_39_purchases
average_40_45_price = total_40_45_sales / age_40_45_purchases

average_under_10_total = total_under_10_sales / age_under_10_unique_purchases
average_10_14_total = total_10_14_sales / age_10_14_unique_purchases
average_15_19_total = total_15_19_sales / age_15_19_unique_purchases
average_20_24_total = total_20_24_sales / age_20_24_unique_purchases
average_25_29_total = total_25_29_sales / age_25_29_unique_purchases
average_30_34_total = total_30_34_sales / age_30_34_unique_purchases
average_35_39_total = total_35_39_sales / age_35_39_unique_purchases
average_40_45_total = total_40_45_sales / age_40_45_unique_purchases

sales_by_under_10_percent = total_under_10_sales / percentage_under_10_customers
sales_by_10_14_percent = total_10_14_sales / percentage_10_14_customers
sales_by_15_19_percent = total_15_19_sales / percentage_15_19_customers
sales_by_20_24_percent = total_20_24_sales / percentage_20_24_customers
sales_by_25_29_percent = total_25_29_sales / percentage_25_29_customers
sales_by_30_34_percent = total_30_34_sales / percentage_30_34_customers
sales_by_35_39_percent = total_35_39_sales / percentage_35_39_customers
sales_by_40_45_percent = total_40_45_sales / percentage_40_45_customers

revenue_by_under_10_percent = (total_under_10_sales / total_revenue) * 100
revenue_by_10_14_percent = (total_10_14_sales / total_revenue) * 100
revenue_by_15_19_percent = (total_15_19_sales / total_revenue) * 100
revenue_by_20_24_percent = (total_20_24_sales / total_revenue) * 100
revenue_by_25_29_percent = (total_25_29_sales / total_revenue) * 100
revenue_by_30_34_percent = (total_30_34_sales / total_revenue) * 100
revenue_by_35_39_percent = (total_35_39_sales / total_revenue) * 100
revenue_by_40_45_percent = (total_40_45_sales / total_revenue) * 100

In [125]:
age_summary_table = pd.DataFrame({   "Total Players": [age_under_10_unique_purchases, age_10_14_unique_purchases, age_15_19_unique_purchases, age_20_24_unique_purchases, age_25_29_unique_purchases, age_30_34_unique_purchases, age_35_39_unique_purchases, age_40_45_unique_purchases],
                                     "Percentage of Players": [percentage_under_10_customers, percentage_10_14_customers, percentage_15_19_customers, percentage_20_24_customers, percentage_25_29_customers, percentage_30_34_customers, percentage_35_39_customers, percentage_40_45_customers],
                                     "Total Purchases": [age_under_10_purchases, age_10_14_purchases, age_15_19_purchases, age_20_24_purchases, age_25_29_purchases, age_30_34_purchases, age_35_39_purchases, age_40_45_purchases],
                                     "Total Sales": [total_under_10_sales, total_10_14_sales, total_15_19_sales, total_20_24_sales, total_25_29_sales, total_30_34_sales, total_35_39_sales, total_40_45_sales],
                                     "Percentage of Revenue": [revenue_by_under_10_percent, revenue_by_10_14_percent, revenue_by_15_19_percent, revenue_by_20_24_percent, revenue_by_25_29_percent, revenue_by_30_34_percent, revenue_by_35_39_percent, revenue_by_40_45_percent],
                                     "Average Purchase Price per Sale": [average_under_10_price, average_10_14_price, average_15_19_price, average_20_24_price, average_25_29_price, average_30_34_price, average_35_39_price, average_40_45_price],
                                     "Average Purchase Price per Customer": [average_under_10_total, average_10_14_total, average_15_19_total, average_20_24_total, average_25_29_total, average_30_34_total, average_35_39_total, average_40_45_total],
                                     "Sales by Percentage of Players": [sales_by_under_10_percent, sales_by_10_14_percent, sales_by_15_19_percent, sales_by_20_24_percent, sales_by_25_29_percent, sales_by_30_34_percent, sales_by_35_39_percent, sales_by_40_45_percent],
                                     })
age_summary_table = age_summary_table.rename(index={0 : "Under 10", 1 : "10-14", 2 : "15-19", 3 : "20-24", 4 : "25-29", 5 : "30-34", 6 : "35-39", 7 : "40-45" })
age_summary_table.round(decimals=2)

,Total Players,Percentage of Players,Total Purchases,Total Sales,Percentage of Revenue,Average Purchase Price per Sale,Average Purchase Price per Customer,Sales by Percentage of Players
Under 10,17,2.95,23,77.13,3.24,3.35,4.54,26.13
10-14,22,3.82,28,82.78,3.48,2.96,3.76,21.67
15-19,107,18.58,136,412.89,17.35,3.04,3.86,22.23
20-24,258,44.79,365,1114.06,46.81,3.05,4.32,24.87
25-29,77,13.37,101,293.00,12.31,2.90,3.81,21.92
30-34,52,9.03,73,214.00,8.99,2.93,4.12,23.70
35-39,31,5.38,41,147.67,6.21,3.60,4.76,27.44
40-45,12,2.08,13,38.24,1.61,2.94,3.19,18.36

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [88]:
index_purchase_data = purchase_data.reset_index()
index_purchase_data.head()

,index,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Slices
0,0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-45
2,2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
spender_gby = purchase_data.groupby(['SN'])
spender_gby.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Slices
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40-45
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40-45
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,Under 10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40-45
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,Under 10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,Under 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [90]:
purchases_gby_sn = index_purchase_data.groupby(['SN'])
sn_item_df = pd.DataFrame(purchases_gby_sn['Price'].sum())
max_df = pd.DataFrame(sn_item_df.max())
max_df.head()

           0
Price  18.96

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [91]:
check = purchase_data.loc[purchase_data['SN'] == "Aelastirin39", :]
check

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Slices
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15,20-24
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24

In [112]:
#https://stackoverflow.com/questions/38174155/group-dataframe-and-get-sum-and-count/38174164
agg_purchase = purchase_data.groupby('SN')['Price'].agg(['sum','count', 'mean'])
agg_purchase_df = pd.DataFrame(agg_purchase)
agg_purchase_df = agg_purchase_df.reset_index()
sorted_spenders = agg_purchase_df.sort_values("sum", ascending=False).head()
agg_purchase_df.dtypes

SN        object
sum      float64
count      int64
mean     float64
dtype: object

In [93]:
sorted_spenders_df = pd.DataFrame(sorted_spenders)

sorted_spenders_df = sorted_spenders_df.reset_index()
sorted_spenders_df.head()

            SN    sum  count      mean
0    Lisosia93  18.96      5  3.792000
1  Idastidru52  15.45      4  3.862500
2   Chamjask73  13.83      3  4.610000
3       Iral74  13.62      4  3.405000
4  Iskadarya95  13.10      3  4.366667

In [120]:
repeat_purchase = agg_purchase_df.loc[agg_purchase_df['count'] > 1, :]
total_repeat_revenue = round(repeat_purchase['sum'].sum(), 2)
percent_repeat_revenue = (total_repeat_revenue / total_revenue) * 100
print(f"Total Repeat Revenue: ${total_repeat_revenue}\n% of Total Revenue: {percent_repeat_revenue}%")

Total Repeat Revenue: $1116.39
% of Total Revenue: 46.91167633846969%

In [129]:
sorted_spenders_df = sorted_spenders_df.rename(columns={'SN': "ScreenName", "sum": "Total Purchase Value", "count": "Purchase Count", "mean": "Average Purchase Price"})
sorted_spenders_df = sorted_spenders_df.rename(index={0: 'Top Spender', 1: 'Runner-up Spender', 2: '3rd Place Spender', 3: '4th Place Spender', 4: '5th Place Spender'})

sorted_spenders_df.head()

,ScreenName,Total Purchase Value,Purchase Count,Average Purchase Price
Top Spender,Lisosia93,18.96,5,3.792000
Runner-up Spender,Idastidru52,15.45,4,3.862500
3rd Place Spender,Chamjask73,13.83,3,4.610000
4th Place Spender,Iral74,13.62,4,3.405000
5th Place Spender,Iskadarya95,13.10,3,4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_df

     Item ID                                     Item Name  Price
0        108     Extraction, Quickblade Of Trembling Hands   3.53
1        143                             Frenzied Scimitar   1.56
2         92                                  Final Critic   4.88
3        100                                   Blindscythe   3.27
4        131                                          Fury   1.44
5         81                                     Dreamkiss   3.61
6        169        Interrogator, Blood Blade of the Queen   2.18
7        162                                 Abyssal Shard   2.67
8         21                                     Souleater   1.10
9        136                  Ghastly Adamantite Protector   3.58
10        95                         Singed Onyx Warscythe   4.74
11       162                                 Abyssal Shard   2.67
12       116                       Renewed Skeletal Katana   4.18
13         4                            Bloodlord's Fetish   1.70
14       165                   Bone Crushing Silver Skewer   4.86
15        98                   Deadline, Voice Of Subtlety   2.89
16        40                                 Second Chance   2.52
17       161                                        Devine   1.76
18        82                                       Nirvana   4.90
19        89             Blazefury, Protector of Delusions   4.64
20        57               Despair, Favor of Due Diligence   4.60
21       168           Sun Strike, Jaws of Twisted Visions   1.48
22        24                                 Warped Fetish   3.81
23       151                                     Severance   3.40
24       141                                    Persuasion   3.19
25       178  Oathbreaker, Last Hope of the Breaking Storm   4.23
26        71                                        Demise   1.61
27        96                   Blood-Forged Skeletal Spine   3.09
28       119     Stormbringer, Dark Blade of Ending Misery   4.32
29        37           Shadow Strike, Glory of Ending Hope   3.16
..       ...                                           ...    ...
750      167                   Malice, Legacy of the Queen   3.61
751      180                                   Stormcaller   3.36
752      112                                  Worldbreaker   2.60
753      178  Oathbreaker, Last Hope of the Breaking Storm   4.23
754       79                           Alpha, Oath of Zeal   4.05
755       76                      Haunted Bronzed Bludgeon   3.15
756       73                                   Ritual Mace   2.05
757       57               Despair, Favor of Due Diligence   4.60
758      182                                     Toothpick   4.03
759       72                                 Winter's Bite   3.77
760       44                         Bonecarvin Battle Axe   2.38
761       17                  Lazarus, Terror of the Earth   1.70
762      110                                    Suspension   1.44
763       85                                Malificent Bag   1.75
764      113                             Solitude's Reaver   4.07
765      130                                         Alpha   2.07
766       58             Freak's Bite, Favor of Holy Might   4.14
767       92                                  Final Critic   4.88
768       92                                  Final Critic   4.88
769      145                          Fiery Glass Crusader   4.58
770       12                                         Dawne   1.02
771       25                                     Hero Cane   4.35
772      136                  Ghastly Adamantite Protector   3.58
773       19                 Pursuit, Cudgel of Necromancy   1.02
774      101                                  Final Critic   4.19
775       60                                          Wolf   3.54
776      164                              Exiled Doomblade   1.63
777       67         Celeste, Incarnation of the Corrupted   3.46
778      101                                  Final Critic   4.19
779       50                                          Dawn   4.60

[780 rows x 3 columns]

In [96]:
item_gby = item_df.groupby(['Item ID', 'Item Name'])
item_sum_df = pd.DataFrame(item_gby.sum())
item_sum_df = item_sum_df.reset_index()


item_sum_df.head()

   Item ID           Item Name  Price
0        0            Splinter   5.12
1        1            Crucifer   9.78
2        2             Verdict  14.88
3        3        Phantomlight  14.94
4        4  Bloodlord's Fetish   8.50

In [97]:
item_count_df = pd.DataFrame(item_gby.count())
item_count_df = item_count_df.reset_index()
item_count_df = item_count_df.rename(columns={"Price": "Purchase Count"})

item_count_df.head()

   Item ID           Item Name  Purchase Count
0        0            Splinter               4
1        1            Crucifer               3
2        2             Verdict               6
3        3        Phantomlight               6
4        4  Bloodlord's Fetish               5

In [98]:
merged_item_df = pd.merge(item_count_df, item_sum_df, on=["Item ID", "Item Name"], how="inner")


merged_item_df.head()
sorted_item_count = merged_item_df.sort_values("Purchase Count", ascending=False)
sorted_item_count = sorted_item_count.reset_index()
sorted_item_count = sorted_item_count.rename(index={0: 'Top Item', 1: 'Runner-up Item', 2: '3rd Place Item', 3: '4th Place Item', 4: '5th Place Item'})
sorted_item_count['Price'] = sorted_item_count['Price'].astype(float).map("${:,.2f}".format)

sorted_item_count.head()

,index,Item ID,Item Name,Purchase Count,Price
Top Item,177,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
Runner-up Item,144,145,Fiery Glass Crusader,9,$41.22
3rd Place Item,107,108,"Extraction, Quickblade Of Trembling Hands",9,$31.77
4th Place Item,81,82,Nirvana,9,$44.10
5th Place Item,19,19,"Pursuit, Cudgel of Necromancy",8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [99]:
merged_item_df.head()

   Item ID           Item Name  Purchase Count  Price
0        0            Splinter               4   5.12
1        1            Crucifer               3   9.78
2        2             Verdict               6  14.88
3        3        Phantomlight               6  14.94
4        4  Bloodlord's Fetish               5   8.50

In [100]:
sorted_item_price = merged_item_df.sort_values("Price", ascending=False)
sorted_item_price = sorted_item_price.reset_index()
sorted_item_price = sorted_item_price.rename(index={0: 'Top Item', 1: 'Runner-up Item', 2: '3rd Place Item', 3: '4th Place Item', 4: '5th Place Item'})
sorted_item_price['Price'] = sorted_item_price['Price'].astype(float).map("${:,.2f}".format)

sorted_item_price.head()

,index,Item ID,Item Name,Purchase Count,Price
Top Item,177,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
Runner-up Item,81,82,Nirvana,9,$44.10
3rd Place Item,144,145,Fiery Glass Crusader,9,$41.22
4th Place Item,91,92,Final Critic,8,$39.04
5th Place Item,102,103,Singed Scalpel,8,$34.80

In [101]:
agg_item = purchase_data.groupby(['Item ID','Item Name']).agg({'Price': ['sum', 'count', 'mean'],
                                                               'Age Slices': ['count'],
                                                               'Gender': ['count']})
agg_item_df = pd.DataFrame(agg_item)
agg_item_df.head()
#agg_item_df = agg_item_df.reset_index()
#agg_item_sorted = agg_item_df.sort_values("sum", ascending=False)
#agg_item_sorted.head()

                            Price             Age Slices Gender
                              sum count  mean      count  count
Item ID Item Name
0       Splinter             5.12     4  1.28          4      4
1       Crucifer             9.78     3  3.26          3      3
2       Verdict             14.88     6  2.48          6      6
3       Phantomlight        14.94     6  2.49          6      6
4       Bloodlord's Fetish   8.50     5  1.70          5      5

In [102]:
agg_item = purchase_data.groupby(['Item ID', 'Item Name', 'Age Slices', 'Gender']).agg({'Price': ['sum', 'count', 'mean'],})
                                                                                      #'Gender': ['count']})
agg_item_df = pd.DataFrame(agg_item)
agg_item_df.head()

                                    Price
                                      sum count  mean
Item ID Item Name Age Slices Gender
0       Splinter  15-19      Male    2.56     2  1.28
                  20-24      Male    2.56     2  1.28
1       Crucifer  15-19      Female  3.26     1  3.26
                  20-24      Male    3.26     1  3.26
                  25-29      Male    3.26     1  3.26

In [103]:
agg_item_df.index

MultiIndex(levels=[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183], ['Abyssal Shard', 'Aetherius, Boon of the Blessed', 'Agatha', 'Alpha', 'Alpha, Oath of Zeal', 'Alpha, Reach of Ending Hope', 'Amnesia', 'Apocalyptic Battlescythe', 'Arcane Gem', 'Avenger', 'Azurewrath', 'Betrayal, Whisper of Grieving Widows', 'Betrayer', 'Blade of the Grave', 'Blazefury, Protector of Delusions', 'Blazeguard, Reach of Eternity', 'Blindscythe', 'Blood Infused Guardian', 'Blood-Forged Skeletal Spine', 'Bloodlord's Fetish', 'Bone Crushing Silver Skewer', 'Bonecarvin Battle Axe', 'Brimstone', 'Brutality Ivory Warmace', 'Celeste', 'Celeste, Incarnation of the Corrupted', 'Chaos, Ender of the End', 'Conqueror Adamantite Mace', 'Crucifer', 'Crying Steel Sickle', 'Curved Axe', 'Darkheart', 'Darkheart, Butcher of the Champion', 'Dawn', 'Dawne', 'Deadline, Voice Of Subtlety', 'Deathraze', 'Deluge, Edge of the West', 'Demise', 'Despair, Favor of Due Diligence', 'Devine', 'Downfall, Scalpel Of The Emperor', 'Dragon's Greatsword', 'Dreamkiss', 'Dreamsong', 'Emberling, Defender of Delusions', 'Endbringer', 'Eternal Cleaver', 'Exiled Doomblade', 'Exiled Mithril Longsword', 'Expiration, Warscythe Of Lost Worlds', 'Extraction, Quickblade Of Trembling Hands', 'Faith's Scimitar', 'Fate, Vengeance of Eternal Justice', 'Feral Katana', 'Fiery Glass Crusader', 'Final Critic', 'Flux, Destroyer of Due Diligence', 'Foul Edge', 'Foul Titanium Battle Axe', 'Freak's Bite, Favor of Holy Might', 'Frenzied Scimitar', 'Frenzy, Defender of the Harvest', 'Fury', 'Fusion Pummel', 'Ghastly Adamantite Protector', 'Ghost Reaver, Longsword of Magic', 'Gladiator's Glaive', 'Glimmer, Ender of the Moon', 'Glinting Glass Edge', 'Hailstorm Shadowsteel Scythe', 'Hatred', 'Haunted Bronzed Bludgeon', 'Heartless Bone Dualblade', 'Heartseeker, Reaver of Souls', 'Heartstriker, Legacy of the Light', 'Hellreaver, Heirloom of Inception', 'Hero Cane', 'Hope's End', 'Hopeless Ebon Dualblade', 'Interrogator, Blood Blade of the Queen', 'Lazarus, Terror of the Earth', 'Lifebender', 'Lightning, Etcher of the King', 'Malice, Legacy of the Queen', 'Malificent Bag', 'Massacre', 'Mercenary Sabre', 'Mercy, Katana of Dismay', 'Misery's End', 'Mourning Blade', 'Netherbane', 'Nirvana', 'Oathbreaker, Last Hope of the Breaking Storm', 'Oathbreaker, Spellblade of Trials', 'Orbit', 'Orenmir', 'Peacekeeper, Wit of Dark Magic', 'Persuasion', 'Phantomlight', 'Piece Maker', 'Piety, Guardian of Riddles', 'Possessed Core', 'Primitive Blade', 'Purgatory, Gem of Regret', 'Pursuit, Cudgel of Necromancy', 'Putrid Fan', 'Rage, Legacy of the Lone Victor', 'Ragnarok', 'Reaper's Toll', 'Relentless Iron Skewer', 'Renewed Skeletal Katana', 'Restored Bauble', 'Retribution Axe', 'Riddle, Tribute of Ended Dreams', 'Righteous Might', 'Ritual Mace', 'Rusty Skull', 'Scalpel', 'Second Chance', 'Serenity', 'Severance', 'Shadow Strike, Glory of Ending Hope', 'Shadowsteel', 'Singed Onyx Warscythe', 'Singed Scalpel', 'Sleepwalker', 'Solitude's Reaver', 'Soul Infused Crystal', 'Soul-Forged Steel Shortsword', 'Souleater', 'Spada, Etcher of Hatred', 'Spectral Diamond Doomblade', 'Splinter', 'Splitter, Foe Of Subtlety', 'Storm-Weaver, Slayer of Inception', 'Stormbringer, Dark Blade of Ending Misery', 'Stormcaller', 'Stormfury Lantern', 'Stormfury Longsword', 'Stormfury Mace', 'Striker', 'Sun Strike, Jaws of Twisted Visions', 'Suspension', 'Swan Song, Gouger Of Terror', 'The Decapitator', 'The Oculus, Token of Lost Worlds', 'The Void, Vengeance of Dark Magic', 'Thirsty Iron Reaver', 'Thorn, Conqueror of the Corrupted', 'Thorn, Satchel of Dark Souls', 'Thunderfury Scimitar', 'Toothpick', 'Torchlight, Bond of Storms', 'Tranquility, Razor of Black Magic', 'Trickster', 'Twilight's Carver', 'Undead Crusader', 'Unending Tyranny', 'Unholy Wand', 'Vengeance Cleaver', 'Venom Claymore', 'Verdict', 'Victor Iron Spikes', 'Vindictive Glass Edge', 'War-Forged Gold Deflector', 'Warmonger, Gift of Suffering's End', 'Warped Diamond Crusader', 'Warped Fetish', 'Warped Iron Scimitar', 'Whistling Mithril Warblade', 'Winter's Bite', 'Winterthorn, Defender of Shifting Worlds', 'Woeful Adamantite Claymore', 'Wolf', 'Wolf, Promise of the Moonwalker', 'Worldbreaker', 'Yearning Crusher', 'Yearning Mageblade'], ['Under 10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-45'], ['Female', 'Male', 'Other / Non-Disclosed']],
           labels=[[0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 7, 7, 8, 8, 8, 9, 9, 9, 9, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 12, 13, 13, 13, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17, 17, 18, 18, 19, 19, 19, 19, 20, 20, 20, 21, 21, 22, 22, 22, 23, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 26, 26, 27, 28, 28, 29, 29, 29, 29, 30, 30, 31, 32, 32, 32, 33, 33, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 36, 36, 36, 36, 37, 37, 37, 38, 38, 38, 38, 39, 39, 39, 39, 39, 40, 40, 40, 41, 42, 42, 43, 43, 43, 44, 44, 44, 44, 45, 45, 45, 45, 46, 47, 47, 48, 48, 49, 49, 49, 49, 50, 51, 51, 51, 52, 52, 52, 52, 52, 53, 53, 54, 54, 55, 55, 56, 56, 56, 57, 57, 58, 58, 58, 59, 59, 59, 60, 60, 60, 61, 61, 61, 62, 63, 63, 64, 64, 64, 64, 65, 65, 65, 65, 66, 66, 66, 67, 67, 67, 68, 68, 69, 69, 69, 69, 70, 70, 70, 70, 70, 70, 71, 71, 71, 71, 72, 72, 72, 73, 73, 74, 74, 74, 74, 74, 75, 75, 75, 76, 76, 76, 76, 77, 77, 77, 77, 77, 78, 78, 79, 79, 79, 79, 80, 80, 81, 81, 81, 81, 81, 81, 82, 82, 82, 82, 83, 83, 84, 84, 84, 85, 85, 85, 86, 86, 86, 86, 87, 87, 87, 88, 88, 89, 90, 91, 91, 91, 91, 91, 92, 92, 92, 93, 93, 93, 94, 94, 95, 95, 95, 95, 95, 96, 96, 96, 97, 97, 97, 97, 98, 98, 99, 99, 99, 100, 100, 100, 101, 101, 101, 101, 102, 102, 102, 102, 102, 103, 104, 104, 104, 104, 105, 105, 105, 106, 106, 106, 107, 107, 107, 107, 107, 107, 108, 108, 109, 109, 109, 109, 109, 110, 110, 110, 111, 111, 111, 112, 112, 112, 112, 113, 113, 113, 113, 114, 114, 115, 115, 116, 116, 116, 116, 116, 117, 118, 118, 118, 119, 119, 119, 120, 120, 120, 121, 121, 121, 122, 122, 122, 123, 123, 123, 124, 124, 125, 126, 126, 127, 127, 127, 127, 128, 128, 128, 128, 129, 129, 129, 130, 130, 131, 131, 132, 132, 132, 132, 133, 134, 134, 134, 135, 135, 135, 135, 135, 136, 136, 136, 136, 136, 137, 137, 137, 138, 138, 138, 139, 139, 139, 139, 140, 140, 140, 141, 141, 142, 142, 142, 142, 142, 143, 143, 143, 143, 143, 144, 144, 144, 144, 145, 145, 145, 145, 145, 146, 146, 147, 148, 148, 148, 148, 149, 149, 149, 150, 150, 150, 151, 151, 151, 152, 152, 152, 152, 153, 153, 153, 154, 154, 154, 155, 155, 155, 156, 156, 156, 157, 157, 158, 158, 158, 158, 159, 159, 159, 159, 160, 160, 160, 160, 161, 162, 162, 162, 163, 163, 163, 164, 164, 164, 164, 165, 165, 165, 166, 166, 166, 167, 168, 168, 168, 169, 169, 169, 170, 170, 170, 171, 171, 171, 171, 172, 172, 173, 173, 173, 173, 174, 174, 174, 175, 175, 176, 176, 177, 177, 177, 177, 177, 177, 177, 177, 178, 178, 178, 178, 179, 180, 180, 180, 180, 181, 182, 182, 182], [133, 133, 28, 28, 28, 162, 162, 162, 162, 162, 99, 99, 99, 19, 19, 106, 106, 117, 117, 150, 150, 150, 150, 104, 104, 104, 149, 149, 149, 149, 126, 126, 22, 22, 22, 22, 34, 34, 34, 34, 34, 120, 120, 120, 102, 102, 128, 128, 128, 112, 112, 112, 81, 81, 81, 81, 153, 153, 105, 105, 105, 105, 91, 91, 91, 130, 130, 6, 6, 6, 28, 168, 168, 168, 168, 168, 77, 77, 77, 77, 77, 77, 159, 159, 114, 57, 57, 26, 26, 26, 26, 137, 137, 155, 96, 96, 96, 30, 30, 113, 113, 113, 113, 113, 73, 73, 73, 73, 73, 122, 122, 122, 122, 147, 147, 147, 11, 11, 11, 11, 119, 119, 119, 119, 119, 95, 95, 95, 145, 58, 58, 21, 21, 21, 69, 69, 69, 69, 79, 79, 79, 79, 5, 107, 107, 146, 146, 33, 33, 33, 33, 46, 71, 71, 71, 160, 160, 160, 160, 160, 47, 47, 164, 164, 59, 59, 39, 39, 39, 60, 60, 83, 83, 83, 174, 174, 174, 108, 108, 108, 100, 100, 100, 140, 64, 64, 27, 27, 27, 27, 163, 163, 163, 163, 25, 25, 25, 135, 135, 135, 62, 62, 78, 78, 78, 78, 38, 38, 38, 38, 38, 38, 171, 171, 171, 171, 116, 116, 116, 177, 177, 23, 23, 23, 23, 23, 72, 72, 72, 101, 101, 101, 101, 68, 68, 68, 68, 68, 4, 4, 44, 44, 44, 44, 43, 43, 92, 92, 92, 92, 92, 92, 82, 82, 82, 82, 8, 8, 85, 85, 85, 138, 138, 138, 37, 37, 37, 37, 45, 45, 45, 14, 14, 12, 24, 56, 56, 56, 56, 56, 7, 7, 7, 90, 90, 90, 124, 124, 18, 18, 18, 18, 18, 144, 144, 144, 35, 35, 35, 35, 50, 50, 16, 16, 16, 56, 56, 56, 9, 9, 9, 9, 125, 125, 125, 125, 125, 67, 70, 70, 70, 70, 29, 29, 29, 134, 134, 134, 51, 51, 51, 51, 51, 51, 41, 41, 143, 143, 143, 143, 143, 89, 89, 89, 176, 176, 176, 127, 127, 127, 127, 178, 178, 178, 178, 132, 132, 111, 111, 75, 75, 75, 75, 75, 66, 136, 136, 136, 2, 2, 2, 86, 86, 86, 158, 158, 158, 156, 156, 156, 161, 161, 161, 170, 170, 49, 74, 74, 15, 15, 15, 15, 53, 53, 53, 53, 3, 3, 3, 63, 63, 98, 98, 52, 52, 52, 52, 157, 167, 167, 167, 65, 65, 65, 65, 65, 1, 1, 1, 1, 1, 97, 97, 97, 88, 88, 88, 141, 141, 141, 141, 98, 98, 98, 115, 115, 61, 61, 61, 61, 61, 17, 17, 17, 17, 17, 55, 55, 55, 55, 169, 169, 169, 169, 169, 76, 76, 166, 154, 154, 154, 154, 36, 36, 36, 121, 121, 121, 31, 31, 31, 87, 87, 87, 87, 54, 54, 54, 165, 165, 165, 129, 129, 129, 131, 131, 131, 32, 32, 94, 94, 94, 94, 10, 10, 10, 10, 40, 40, 40, 40, 0, 151, 151, 151, 48, 48, 48, 20, 20, 20, 20, 148, 148, 148, 84, 84, 84, 142, 80, 80, 80, 123, 123, 123, 118, 118, 118, 13, 13, 13, 13, 139, 139, 103, 103, 103, 103, 173, 173, 173, 110, 110, 172, 172, 93, 93, 93, 93, 93, 93, 93, 93, 175, 175, 175, 175, 137, 109, 109, 109, 109, 152, 42, 42, 42], [2, 3, 2, 3, 4, 2, 2, 3, 4, 5, 2, 3, 5, 3, 4, 3, 5, 3, 3, 2, 3, 3, 4, 3, 3, 7, 2, 3, 3, 6, 3, 4, 0, 3, 3, 5, 2, 3, 4, 4, 5, 2, 3, 4, 3, 4, 3, 4, 4, 3, 3, 3, 2, 3, 3, 7, 2, 3, 3, 3, 4, 5, 2, 5, 6, 2, 3, 2, 3, 4, 3, 2, 3, 4, 6, 6, 1, 2, 3, 4, 5, 6, 3, 5, 2, 3, 5, 3, 3, 5, 6, 3, 3, 3, 2, 3, 4, 3, 5, 1, 2, 3, 3, 4, 2, 3, 3, 3, 6, 2, 3, 3, 6, 2, 3, 3, 2, 3, 4, 6, 0, 2, 2, 3, 4, 2, 3, 3, 3, 3, 4, 0, 3, 5, 2, 3, 3, 4, 2, 3, 4, 7, 5, 2, 4, 3, 3, 0, 3, 4, 6, 2, 2, 3, 3, 0, 1, 3, 5, 5, 3, 4, 2, 3, 2, 3, 2, 3, 3, 3, 5, 3, 5, 7, 1, 3, 3, 3, 4, 6, 3, 3, 4, 3, 3, 6, 1, 3, 3, 5, 2, 2, 3, 7, 2, 3, 5, 2, 2, 3, 3, 4, 1, 2, 3, 4, 0, 1, 2, 3, 3, 7, 2, 3, 3, 4, 0, 2, 3, 2, 3, 2, 3, 3, 4, 4, 1, 3, 5, 3, 5, 5, 7, 0, 3, 3, 5, 6, 3, 3, 2, 3, 3, 5, 3, 4, 2, 3, 3, 4, 5, 6, 2, 3, 4, 5, 3, 4, 2, 3, 6, 2, 4, 5, 2, 3, 3, 5, 1, 2, 3, 4, 5, 5, 3, 0, 2, 3, 4, 6, 1, 3, 7, 3, 3, 4, 2, 3, 0, 2, 3, 4, 5, 0, 2, 3, 1, 3, 4, 5, 3, 6, 2, 3, 4, 0, 1, 3, 3, 4, 5, 6, 2, 2, 3, 4, 6, 3, 2, 3, 4, 6, 3, 4, 5, 2, 3, 4, 1, 2, 3, 4, 5, 6, 3, 3, 2, 3, 3, 4, 5, 3, 5, 6, 2, 3, 4, 2, 3, 5, 6, 2, 2, 3, 5, 3, 4, 1, 3, 1, 3, 3, 5, 7, 5, 0, 3, 6, 2, 3, 4, 2, 3, 6, 0, 2, 3, 2, 2, 4, 0, 3, 5, 3, 4, 3, 3, 3, 2, 3, 4, 6, 3, 3, 4, 5, 2, 2, 5, 2, 3, 3, 3, 0, 1, 2, 3, 3, 2, 3, 5, 3, 4, 5, 5, 6, 0, 3, 3, 4, 7, 2, 3, 5, 1, 3, 4, 2, 2, 3, 6, 3, 4, 5, 3, 6, 1, 2, 3, 4, 7, 2, 2, 3, 4, 5, 2, 2, 3, 5, 1, 4, 4, 5, 6, 0, 3, 3, 1, 2, 3, 4, 3, 4, 6, 3, 5, 7, 2, 3, 5, 1, 3, 4, 4, 2, 3, 6, 2, 3, 3, 2, 3, 4, 2, 3, 4, 1, 2, 0, 2, 3, 3, 2, 2, 3, 4, 2, 3, 4, 5, 3, 3, 3, 4, 1, 2, 3, 2, 3, 4, 6, 2, 3, 4, 2, 3, 3, 3, 2, 3, 6, 3, 3, 4, 3, 5, 6, 2, 3, 4, 5, 5, 7, 0, 2, 3, 4, 4, 5, 6, 2, 5, 3, 5, 0, 2, 3, 3, 4, 4, 5, 6, 0, 3, 3, 6, 1, 2, 3, 3, 4, 3, 2, 3, 4], [1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 2, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 2, 0, 1, 1, 0, 0, 1, 2, 0, 1, 0, 1, 1, 1, 0, 1, 2, 0, 1, 2, 1, 0, 1, 1, 1, 0, 1, 2, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 2, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 2, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0]],
           names=['Item ID', 'Item Name', 'Age Slices', 'Gender'])

In [104]:
agg_item_df.columns

MultiIndex(levels=[['Price'], ['sum', 'count', 'mean']],
           labels=[[0, 0, 0], [0, 1, 2]])